
<form name="editForm" role="form" novalidate ng-submit="save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myToolLabel" translate="myTasksApp.tool.home.createOrEditLabel">Create or edit a Tool</h4>
    </div>
    <div class="modal-body">
        <jh-alert-error></jh-alert-error>
        <div class="form-group">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="tool.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" translate="myTasksApp.tool.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                    ng-model="tool.name"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="myTasksApp.tool.toBuy" for="field_toBuy">ToBuy</label>
            <input type="checkbox" class="form-control" name="toBuy" id="field_toBuy"
                    ng-model="tool.toBuy"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="myTasksApp.tool.price" for="field_price">Price</label>
            <input type="number" class="form-control" name="price" id="field_price"
                    ng-model="tool.price"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="myTasksApp.tool.number" for="field_number">Number</label>
            <input type="number" class="form-control" name="number" id="field_number"
                    ng-model="tool.number"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="myTasksApp.tool.comment" for="field_comment">Comment</label>
            <input type="text" class="form-control" name="comment" id="field_comment"
                    ng-model="tool.comment"
                     />
        </div>

        <div class="form-group">
            <label translate="myTasksApp.tool.task" for="field_task">task</label>
            <select class="form-control" id="field_task" name="task" ng-model="tool.taskId" ng-options="task.id as task.name for task in tasks">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
